
@media (max-width: 575px) {
    img {
        height: 15rem;
        width: 10rem;
      }      
      .card{
          align-items: center;
      }
       
  }
  /** dispositivos pequeños en vista landscape (horizontal) */
  @media (min-width: 576px) and (max-width: 767px) {
    
  }
  /** dispositivos medianos (tablets) */
  @media (min-width: 768px) and (max-width: 991px) {
    
  }
  /** dispositivos grandes (desktops) */
  @media (min-width: 992px) and (max-width: 1199px) {

  }
  /** dispositivos extra grandes (monitores grandes, tvs) */
  @media (min-width: 1200px) {
    img {
        height: 500px;
        width: 80%;
      }      
      .card{
          align-items: center;
      }
  }  